@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #17a0fb;
  --primary-dark: #1079c0;
  --radius: 0.625rem;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* スポンサー関連 */
  --blue-light-100: #f1f8ff;
  --blue-600: #0c7edc;
  --link-light: #253edf;
  --black-border-200: #f2f2fb;
  /* platinumcolor */
  --blue-800: #0e24b8;
  /* goldcolor */
  --yellow-600: #c0ba02;
  /* silvercolor */
  --gray-400: #c9caca;
  --gray-500: #8a8a8a;
  --blue-light-500: #0c7edc;
  /* timetable関連 */
  --timetable-indigo-700: #165e83;
  --timetable-crimson-700: #b94047;
  --timetable-ochre-700: #c39143;
  --timetable-blue-700: #1249d8;
  --timetable-green-500: #d1dc4a;
  --timetable-cyan-500: #48c0e4;
}

@theme {
  /* スポンサー関連のcss変数 */
  --color-sponsor-background: var(--blue-light-100);
  --color-sponsor-title: var(--blue-600);
  --color-sponsor-link: var(--link-light);
  --color-sponsor-platinum: var(--blue-800);
  --color-sponsor-gold: var(--yellow-600);
  --color-sponsor-silver: var(--gray-500);
  --color-sponsor-black-200: var(--black-border-200);
  /* timetable関連 */
  --color-track1-indigo: var(--timetable-indigo-700);
  --color-track2-crimson: var(--timetable-crimson-700);
  --color-timelabel-ochre: var(--timetable-ochre-700);
  --color-talktype-blue: var(--timetable-blue-700);
  --color-talktype-green: var(--timetable-green-500);
  --color-talktype-cyan: var(--timetable-cyan-500);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-noto: var(--font-noto);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  /* リンクで使用する */
  --color-link: var(--link-light);

  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;

  --color-blue-purple-100: #f6f8ff;
  --color-blue-purple-200: #eaedff;
  --color-blue-purple-300: #aeb9fc;
  --color-blue-purple-400: #6f81f4;
  --color-blue-purple-500: #253edf;
  --color-blue-purple-600: #0e24b8;
  --color-blue-purple-700: #0a1877;

  --color-blue-light-100: #f1f8ff;
  --color-blue-light-200: #e9f5ff;
  --color-blue-light-300: #a8d4fe;
  --color-blue-light-400: #6bade8;
  --color-blue-light-500: #0c7edc;
  --color-blue-light-600: #005aa4;
  --color-blue-light-700: #053a65;

  --color-yellow-100: #fffde8;
  --color-yellow-200: #f9f7ca;
  --color-yellow-300: #faf692;
  --color-yellow-400: #f4f069;
  --color-yellow-500: #e3dd25;
  --color-yellow-600: #c0ba02;
  --color-yellow-700: #777300;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*
  @theme で定義した --font-size-* を className で text-* として利用できるようにする
  例: text-14 (font-size: 14px)
*/
@utility text-* {
  font-size: --value(--font-size-*, [length]);
}

body {
  font-family: var(--font-outfit), var(--font-noto);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* footer用 */
footer {
  background: linear-gradient(180deg, #17a0fb 0%, #0077c7 100%);
}

/* ScrollIndicatorで利用するアニメーション */
@theme {
  --animate-blink: blink 2s linear infinite;
  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
