@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #17a0fb;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-noto: var(--font-noto);
  --color-primary: var(--primary);

  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;

  --color-blue-purple-100: #f6f8ff;
  --color-blue-purple-200: #eaedff;
  --color-blue-purple-300: #aeb9fc;
  --color-blue-purple-400: #6f81f4;
  --color-blue-purple-500: #253edf;
  --color-blue-purple-600: #0e24b8;
  --color-blue-purple-700: #0a1877;

  --color-blue-light-100: #f1f8ff;
  --color-blue-light-200: #e9f5ff;
  --color-blue-light-300: #a8d4fe;
  --color-blue-light-400: #6bade8;
  --color-blue-light-500: #0c7edc;
  --color-blue-light-600: #005aa4;
  --color-blue-light-700: #053a65;

  --color-yellow-100: #fffde8;
  --color-yellow-200: #f9f7ca;
  --color-yellow-300: #faf692;
  --color-yellow-400: #f4f069;
  --color-yellow-500: #e3dd25;
  --color-yellow-600: #c0ba02;
  --color-yellow-700: #777300;
}

/*
  @theme で定義した --font-size-* を className で text-* として利用できるようにする
  例: text-14 (font-size: 14px)
*/
@utility text-* {
  font-size: --value(--font-size-*, [length]);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), var(--font-noto);
}

footer {
  background: linear-gradient(180deg, #17a0fb 0%, #0077c7 100%);
}

@utility hoge {
  @apply bg-amber-400;
}

.fuga {
  @apply bg-amber-400;
}
