/*
 レイアウトシフトを防ぐため、canvasのアスペクト比をCSSレベルで指定する。
 sketch.ts側のJSで設定されているサイズを正とし、その挙動をエミュレートする
 https://github.com/tskaigi/hokuriku-web-site/blob/c6a708fe8e6cd763a88dea844570a1fdf9b23d17/src/lib/sketch.ts#L106-L118
*/
.canvas-container {
  width: 100%;
  max-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-aspect-ratio: 16/9) {
  .canvas-container {
    aspect-ratio: 16 / 9;
  }
}
@media (max-aspect-ratio: 4/3) and (min-aspect-ratio: 3/4) {
  .canvas-container {
    aspect-ratio: 4 / 3;
  }
}
@media (max-aspect-ratio: 9/16) {
  .canvas-container {
    aspect-ratio: 9 / 16;
  }
}
